# Created by .ignore support plugin (hsz.mobi)
.idea/

pcgH3VRframework/bin/Debug/0Harmony.dll
pcgH3VRframework/bin/Debug/Assembly-CSharp.dll
pcgH3VRframework/bin/Debug/BepInEx.dll
pcgH3VRframework/bin/Debug/H3VRUtilities.mm.dll
pcgH3VRframework/bin/Debug/UnityEngine.dll
pcgH3VRframework/Libraries/0Harmony.dll
pcgH3VRframework/Libraries/Assembly-CSharp.dll
pcgH3VRframework/Libraries/BepInEx.dll
pcgH3VRframework/Libraries/UnityEngine.dll
pcgH3VRframework/obj/Debug/H3VRUtilities.mm.dll

Libraries/
H3VRUtilites.Weapons.Stubs/bin/Debug/BepInEx.Harmony.dll
H3VRUtilites.Weapons.Stubs/bin/Debug/Assembly-CSharp-firstpass.dll
H3VRUtilites.Weapons.Stubs/bin/Debug/Assembly-CSharp.dll
H3VRUtilites.Weapons.Stubs/bin/Debug/BepInEx.dll
H3VRUtilities.Weapons/bin/Debug/Assembly-CSharp.dll
H3VRUtilities.Weapons/bin/Debug/Assembly-CSharp-firstpass.dll
H3VRUtilities.Weapons/bin/Debug/BepInEx.dll
H3VRUtilities.Weapons/bin/Debug/BepInEx.Harmony.dll
.vs/pcgH3VRframework/v16/.suo
.vs/pcgH3VRframework/v16/Server/sqlite3/db.lock
.vs/pcgH3VRframework/v16/Server/sqlite3/storage.ide
.vs/pcgH3VRframework/v16/Server/sqlite3/storage.ide-shm
.vs/pcgH3VRframework/v16/Server/sqlite3/storage.ide-wal
H3VRUtilites.Weapons.Stubs/bin/Debug/UnityEngine.dll
