# Created by .ignore support plugin (hsz.mobi)
.idea/

pcgH3VRframework/bin/Debug/0Harmony.dll
pcgH3VRframework/bin/Debug/Assembly-CSharp.dll
pcgH3VRframework/bin/Debug/BepInEx.dll
pcgH3VRframework/bin/Debug/H3VRUtilities.mm.dll
pcgH3VRframework/bin/Debug/UnityEngine.dll
pcgH3VRframework/Libraries/0Harmony.dll
pcgH3VRframework/Libraries/Assembly-CSharp.dll
pcgH3VRframework/Libraries/BepInEx.dll
pcgH3VRframework/Libraries/UnityEngine.dll
pcgH3VRframework/obj/Debug/H3VRUtilities.mm.dll

Libraries/