# Created by .ignore support plugin (hsz.mobi)
.idea/.idea.H3VRUtils.dir/
pcgH3VRframework/Libraries/0Harmony.dll
pcgH3VRframework/Libraries/Assembly-CSharp.dll
pcgH3VRframework/Libraries/BepInEx.dll
pcgH3VRframework/Libraries/UnityEngine.dll
pcgH3VRframework/Libraries/BepInEx.Harmony.dll
*.dll
